.Header {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  /* font-family: "Roboto Condensed", sans-serif; */
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px; /*gutters*/
  background-color: black;
  color: orangered;
}

.Header nav a {
  font-family: "Cairo", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  color: black;
  font-size: 24px;
  font-weight: 400;
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.Header nav a:hover {
  color: #ff7442;
}

/*--- Home Styling ---*/
.Home {
  /* background-color: #001940; */
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1080px;
  padding: 0 25px 60px; /*gutters*/
}

.Home h2 {
  font-size: 48px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Cairo", sans-serif;
}

.Home h2 span {
  color: orangered;
}

.WeatherInfo {
  display: flex;
  justify-content: space-between;
}

.WeatherInfo_Basic {
  /* color: #ff8b2b; */
  border: 4px solid orangered;
  border-radius: 15px 0px 0px 15px;
  flex-basis: 30%;
  padding: 30px;
  text-align: center;
  font-family: "Cairo", sans-serif;
}

/* .WeatherInfo_Basic h3 {
  font-size: 60px;
  margin: 0;
} */

.WeatherInfo_Type {
  font-size: 60px;
  margin: 0;
  margin-bottom: 30px;
  color: orangered;
}

.WeatherInfo_Temperature {
  font-size: 84px;
  margin: 0;
}

.WeatherInfo_Temperature_Small {
  font-size: 48px;
  margin: 0;
  margin-bottom: 30px;
}

.WeatherInfo_Extra {
  /* background-color: #001940; */
  font-family: "Cairo", sans-serif;
  color: black;
  border: 4px solid orangered;
  border-radius: 0px 15px 15px 0px;
  border-left: none;
  display: flex;
  flex-basis: 70%;
  padding: 30px;
}

.WeatherInfo_Extra_Column {
  flex-basis: 50%;
}

.WeatherInfo_Image {
  color: orangered;
  font-size: 150px;
}

.Label {
  font-family: "Cairo", sans-serif;
  color: black;
  font-size: 24px;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

/*











*/

@media screen and (max-width: 640px) {
  .Header {
    flex-direction: column;
  }

  .Header nav {
    /* display: flex; */
    /* flex-direction: column; */
  }

  .Header nav a {
    font-size: 14px;
  }

  h2 {
    text-align: center;
  }

  .WeatherInfo {
    flex-direction: column;
  }

  .WeatherInfo_Basic {
    border-radius: 30px 30px 0px 0px;
    color: black;
  }

  .WeatherInfo_Extra {
    text-align: center;
    border: 2px solid black;
    border-radius: 0px 0px 30px 30px;
    border-top: none;

    flex-direction: column;
  }
}
